.ios,
.md {
  page-statistic {
    .stat-title {
      display: inline-block;
    }

    canvas {
      width: 100% !important;
      max-width: 800px;
      height: auto !important;
    }

    .stats-canvas-container {
      min-height: 400px;
    }
  }
}

