.ios, .md {

  page-home {

    .scroll-content {
      background-color: map-get($colors, light);
    }

    ion-card-header {
      font-weight: bold;
    }

  }

}

.stat-title {
  display: inline-block;
}

canvas {
  width: 100% !important;
  max-width: 800px;
  height: auto !important;
}
