<ion-content>
  <ion-list inset>
    <p *ngIf="occurrences_storage.size() == 0" class="empty-text">
      {{translation.gettext("It's empty here, start by registering an occurrence")}}
    </p>

    <ion-item-sliding *ngFor="let occurrence of occurrences_storage.all()">

      <button ion-item id="{{occurrence.id}}">
        <ion-label>
          {{ translation.gettext(occurrence.symptom?.name) }}
        </ion-label>
        <ion-datetime displayFormat="MMM DD, YYYY HH:mm" disabled="true" [(ngModel)]="occurrence.date"></ion-datetime>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteOccurrence(occurrence)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

</ion-content>
