<ion-header>
  <ion-navbar>
    <ion-title>{{translation.gettext("Detailed occurrence")}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item id="date-and-hour">
      <ion-label>{{translation.gettext("Date and hour")}}</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY HH:mm" [(ngModel)]="occurrence.date"></ion-datetime>
    </ion-item>
    <ion-item id="comment">
      <ion-label>{{translation.gettext("Comment")}}</ion-label>
      <ion-textarea [(ngModel)]="comment" rows="6" placeholder="{{translation.gettext('Describe the context of your symptom...')}}"></ion-textarea>
    </ion-item>
    <ion-item>
      Location:
      <ion-spinner item-right *ngIf="loadingLocation"></ion-spinner>
      <span *ngIf="!loadingLocation && !locationError">{{translation.gettext("Location retrieved")}}</span>
      <span *ngIf="!loadingLocation && locationError">{{translation.gettext("Cannot get location")}}</span>
    </ion-item>
    <span *ngFor="let factor_instance of occurrence?.factors">
      <span [ngSwitch]="factor_instance.factor.type">
        <factor-pain-intensity *ngSwitchCase="'pain_intensity'"  [(ngModel)]="factor_instance.value" ngDefaultControl></factor-pain-intensity>
      </span>

    </span>
  </ion-list>

  <button ion-button (click)="save()" full color="default" icon-left id="save-btn">
    <ion-icon name="add"></ion-icon>
    {{translation.gettext("Save occurrence")}}
  </button>


</ion-content>
