page-home {
  .long-press-symptom-menu {
    .action-sheet-destructive {
      color: #f53d3d;
    }
  }
  ion-col {
    padding: 0;
  }

  .symptom-item {
    min-height: 60px;
  }

  .scroll-content {
    background-color: map-get($colors, light);
  }

  ion-card-header {
    font-weight: bold;
  }

  .empty-text {
    color: grey;
    text-align: center;
  }
}
